<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="/create" method="POST">
        <div class = "post-entry">
            <input class="inp" type="text" placeholder="Who are you?" name="name" required>
            <br>
            <textarea maxlength="450" rows="10" placeholder="Type your message here!" name="body" required></textarea> 
        </div>
        <button class="h4" type="submit">Submit</button>
    </form>
    <%- include('partials/footer.ejs')%>
</body>
</html>